    /* Reset CSS*/
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
      }
  
      :root {
        --cor-fundo-logo: #d8e3e7;
        --cor-fonte-logo: #3C3E7B;
        --cor-cpp: black;   /* cpp = Coração Preto e Peludo */
        --cor-detalhe: white;
        --fonte-manuscrita: 'Solitreo', cursive;
        --fonte-base: 'Arial', sans-serif; 
      }
  
      body {
        background-color: var(--cor-fundo-logo);
        color: var(--cor-cpp);
        display: flex;
        flex-direction: column;
        font-family: var(--fonte-manuscrita);
        min-height: 100vh;
      }
  
      header {
        background-color: var(--cor-fonte-logo);
        color: var(--cor-fundo-logo);
        padding: 10px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        font-family: var(--fonte-base);
        height: 10vh;
        position: fixed;
        top: 0;
        z-index: 100;
        width: 100%;
      }

      main {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        flex: 1 0 0;
        margin-top: 10vh;
      }

      footer {
        background-color: var(--cor-fonte-logo);
        color: var(--cor-fundo-logo);
        padding: 10px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        font-family: var(--fonte-base);
        height: 10vh;
      }
  
      /* CODIGO PARA OS FLEX-ITEMS DA HEADER */

      header img {
        height: 100%;
        margin-left: 15px;
      }

      /* CODIGO PARA ANIMAÇÃO DA LOGO NA HEADER */

      @keyframes dance {
        0%, 100% {
          transform: translateX(0) rotate(0deg);
        }

        25% {
          transform: translateX(15px) rotate(30deg);
        }

        75% {
          transform: translateX(-30px) rotate(-30deg);
        }
      }

      #logo {
        animation-duration: 4s; /* Duração total da animação */
        animation-iteration-count: infinite; /* Repetir indefinidamente */
        animation-timing-function: ease; /* Ritmo da animação */
      }

      .logo.dance {
        animation-name: dance;
        animation-delay: 0s; /* Ajuste conforme necessário */
      }


      header nav button {
        background-color: var(--cor-fundo-logo);
        color: var(--cor-fonte-logo);
        padding: 10px;
        border-radius: 5px;
      }
  
      header nav button:hover {
        text-decoration: none;
        background-color: var(--cor-detalhe);
        padding: 10px;
        border-radius: 5px;
      }

      header nav button a {
        text-decoration: none;
      }

      header nav button a:hover {
        text-decoration: none;
      }

      /* CODIGO PARA OS FLEX-ITEMS DA MAIN */

      .main-item {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 50vh;
        width: 100vw;
      }

      .main-item:nth-child(odd) {
        background-color: var(--cor-fundo-logo);
      }

      .main-item:nth-child(even) {
        background-color: var(--cor-detalhe);
      }

      .card {
        display: flex;
        justify-content: center;
        height: 100%;
        width: 70%;
        padding: 10px;
        box-sizing: border-box;
        flex-direction: column;
        align-items: center;
      }

      /* CÓDIGO REFERENTE AO MAIN-ITEM QUE MOSTRA O LOGO DO ESPAÇO BEM-ESTAR */

      .logoG {
        background-image: url(logoG.png);
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
      }

      /* CÓDIGO REFERENTE AO MAIN-ITEM "SOBRE" */
      .perfil {
        height: 100%;
        width: 100%;
        background-image: url(perfil.png);
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
      }

      .card-text {
        text-align: justify;
        padding: 10px;
        overflow: auto;
      }

      /* CÓDIGO REFERENTE ÀS FOTOS */

      .foto1 {
        height: 100%;
        width: 100%;
        background-image: url(acolhimento_todomundo.jpg);
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        padding: 0px;
        border-width: 5px;
        border-style: solid;
        border-color: var(--cor-fundo-logo);
      }

      .foto2 {
        height: 100%;
        width: 100%;
        background-image: url(acolhimento1.jpg);
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        padding: 0px;
        border-width: 5px;
        border-style: solid;
        border-color: var(--cor-fundo-logo);
      }

      .foto3 {
        height: 100%;
        width: 100%;
        background-image: url(avaliacao_profissional.jpg);
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        padding: 0px;
        border-width: 5px;
        border-style: solid;
        border-color: var(--cor-detalhe);
      }

      .foto4 {
        height: 100%;
        width: 100%;
        background-image: url(mascoteG.jpg);
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        padding: 0px;
        border-width: 5px;
        border-style: solid;
        border-color: var(--cor-detalhe);
      }

      .legfoto {
        text-align: center;
      }

      /* CÓDIGO REFERENTE AO MAIN-ITEM SAUDE MENTAL */

      .saudemental {
        background-image: url(msgsaudemental.jpg);
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        padding: 0px;
        /* Quando precisei fazer uma borda nesta figura */
        /* border-width: 10px;
        border-style: solid;
        border-color: var(--cor-detalhe); */
      }

      /* CÓDIGO REFERENTE AO FORMULÁRIO */

      #contatenos {
        border: 3px double var(--cor-fonte-logo);
        flex-direction: column;
        border-radius: 15px;
        align-items: center;
      }

      .form-items {
        padding: 10px;
      }

      h1 {
        text-align: center;
        font-size: 1.3em;
      }

      h2 {
        text-align: center;
        font-size: 1em;
      }

      input {
        width: 200px;
      }

      form button {
        background-color: var(--cor-fundo-logo);
        color: var(--cor-fonte-logo);
        padding: 10px;
        border-radius: 5px;
      }
  
      form button:hover {
        text-decoration: none;
        background-color: var(--cor-fonte-logo);
        color: var(--cor-fundo-logo);
        padding: 10px;
        border-radius: 5px;
      }


      /* FOOTER CODE */
      footer div {
        display: flex;
        height: 100%;
        align-items: center;
      }

      footer div img {
        height: 100%;
        margin: 10px;
        filter: drop-shadow(5px 5px 5px var(--cor-fundo-logo));
        display: none;
      }


      /* CÓDIGO REFERENTE À RESPONSIVIDADE EM TELAS MAIORES */
      @media (min-width: 1000px) {
        .card {
          flex-direction: row;
          align-items: center;
        }

        .perfil {
          width: 200%;
        }

        h1 {
          font-size: 2em;
        }

        input {
          width: 250px;
        }

        footer div img {
          display: unset;
        }
  
      }

