    /* Reset CSS*/
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
      }
  
      :root {
        --cor-fundo-logo: #d8e3e7;
        --cor-fonte-logo: #3C3E7B;
        --cor-cpp: black;   /* cpp = Coração Preto e Peludo */
        --cor-detalhe: white;
        --fonte-manuscrita: 'Solitreo', cursive;
        --fonte-base: 'Arial', sans-serif; 
      }
  
      body {
        background-color: var(--cor-fundo-logo);
        color: var(--cor-cpp);
        display: flex;
        flex-direction: column;
        font-family: var(--fonte-manuscrita);
        min-height: 100vh;
      }
  
      header {
        background-color: var(--cor-fonte-logo);
        color: var(--cor-fundo-logo);
        padding: 10px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        font-family: var(--fonte-base);
        height: 10vh;
        position: fixed;
        top: 0;
        z-index: 100;
        width: 100%;
      }

      main {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        flex: 1 0 0;
        margin-top: 10vh;
      }

      footer {
        background-color: var(--cor-fonte-logo);
        color: var(--cor-fundo-logo);
        padding: 10px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        font-family: var(--fonte-base);
      }
  
      /* CODIGO PARA OS FLEX-ITEMS DA HEADER */

      header img {
        height: 100%;
      }

      header nav button {
        background-color: var(--cor-fundo-logo);
        color: var(--cor-fonte-logo);
        padding: 10px;
        border-radius: 5px;
      }
  
      header nav button:hover {
        text-decoration: none;
        background-color: var(--cor-detalhe);
        padding: 10px;
        border-radius: 5px;
      }

      header nav button a {
        text-decoration: none;
      }

      header nav button a:hover {
        text-decoration: none;
      }

      /* CODIGO PARA OS FLEX-ITEMS DA MAIN */

      .main-item {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 50vh;
        width: 100vw;
      }

      .main-item:nth-child(odd) {
        background-color: var(--cor-fundo-logo);
      }

      .main-item:nth-child(even) {
        background-color: var(--cor-detalhe);
      }

      .card {
        display: flex;
        justify-content: center;
        height: 100%;
        width: 70%;
        padding: 10px;
        box-sizing: border-box;
        flex-direction: column;
      }

      .logoG {
        background-image: url(logoG.png);
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
      }

      .saudemental {
        background-image: url(msgsaudemental.jpg);
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
      }

      .perfil {
        height: 100%;
        width: 100%;
        background-image: url(perfil.png);
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
      }

      .card-text {
        text-align: justify;
        padding: 10px;
        overflow: auto;
      }

      #contatenos {
        border: 3px double var(--cor-fonte-logo);
        flex-direction: column;
        border-radius: 15px;
        align-items: center;
      }

      .form-items {
        padding: 10px;
      }

      h1 {
        text-align: center;
        font-size: 1.4em;
      }

      h2 {
        text-align: center;
        font-size: 1em;
      }

      input {
        width: 200px;
      }

      @media (min-width: 1000px) {
        .card {
          flex-direction: row;
          align-items: center;
        }

        .perfil {
          width: 200%;
        }

        h1 {
          font-size: 2em;
        }

        input {
          width: 250px;
        }
  
      }

